   
    <nav style="background-color: black" class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link navbar-brand" href="{{ path('home') }}">Test</a>
            </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index') }}">Gerer les utilisateurs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('api_home') }}">Voir la doc API</a>
                </li>
        </ul>
    </nav>
    <br>
